doctype html
html
  head
    title Post/New
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/w3-black.css')
    link(rel='stylesheet' href='/stylesheets/w3.css')
    link(rel='stylesheet' href='/stylesheets/home.css')
  body
    .w3-main
      .w3-top.w3-display-topmiddle
        .w3-bar.w3-theme.w3-left-align.w3-large.w3-padding-16
          a.w3-bar-item.w3-button.w3-amber.w3-margin-left(href='/home') Inquirições de Génere
          a.w3-bar-item.w3-button(href='/home/perfil') Perfil
          a.w3-bar-item.w3-button(href='/home') Posts
          a.w3-bar-item.w3-button(href='/home/inquiricoes') Inquirições
          a.w3-bar-item.w3-button.w3-right(href='/home/logout') Log out
          a.w3-bar-item.w3-button.w3-right(href='/home/sugestoes') Sugestões
          form.w3-center(action='/home' style='margin-top: 2px')
            select.w3-select.w3-bar-item.w3-theme.w3-margin-right(name='searchType')
              option(value='nome') Nome
              option(value='data') Data
            input.w3-input.w3-bar-item.w3-round-xlarge(name='search', type='text', placeholder='Search')
            button.w3-bar-item.w3-theme.w3-button(type="submit") Search
      h5.w3-padding-top-64(style="font-size: 5vmax;") Novo Post
      .w3-content
          .w3-row
            .w3-card.w3-round-xlarge.post-box.w3-hover-shadow.w3-panel.w3-padding-16
                form.w3-padding-bottom-64(method='POST')
                    p.div(style="font-size: 1vmax;")
                      strong Registo: 
                    input.w3-input.w3-bar-item.w3-round-xlarge(type='text', placeholder=inq.CompleteUnitId, readonly)
                    input.w3-input.w3-bar-item.w3-round-xlarge(name='nome', type='hidden', value=user.username)
                    p.div(style="font-size: 1vmax;")
                      strong Descrição: 
                    input.w3-input.w3-bar-item.w3-round-xlarge(name='descricao', type='text')
                    input.w3-input.w3-bar-item.w3-round-xlarge(name='data', type='hidden', value=d)
                    input.w3-input.w3-bar-item.w3-round-xlarge(name='registo', type='hidden', value=inq._id)
                    button.w3-bar-item.w3-green.w3-button.w3-right.w3-margin.w3-round-large(type="submit") Submit
      .w3-bottom
        footer.w3-center
          .w3-container.w3-theme-l1
            p
              | Project made for 
              a(href='https://epl.di.uminho.pt/~jcr/AULAS/EngWeb2023/index.html' target='_blank') EngWeb
